
h1, h2, h3, h4, h5, h6 {
    padding: 15px 0px;
    margin: 0px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
}

.logo img {
    margin-top: 62px;
}

.menu-bg {
    margin-bottom: 30px;
}

.main-menu {
    background: #0c0c0c;
    position: relative;
    height: 70px;
    width: 101.7%;
}

    .main-menu::before {
        position: absolute;
        top: 0px;
        left: -70px;
        content: '';
        border-width: 35px;
        border-style: solid;
        border-top-color: rgba(0,0,0,0);
        border-left-color: rgba(0,0,0,0);
        border-right-color: #0c0c0c;
        border-bottom-color: #0c0c0c;
    }

.navbar-collapse {
    padding: 0px;
}

.menu {
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    position: relative;
}

    .menu .navbar-collapse > ul {
        position: relative;
        z-index: 2;
		margin-top: 15px;
    }

.navbar-default .navbar-nav li a {
    padding: 25px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background: #fff;
}

.navbar-default .navbar-nav li:last-child a {
    border: none;
}

ul.nav li.dropdown:hover ul.dropdown-menu li a:hover {
    background: none;
    color: #d11717;
}
/*ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}*/
.navbar-nav > li > .dropdown-menu {
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 0px 0px;
    border-top: 0px;
    padding: 0px;
    margin: 0px;
    min-width: 220px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar-default .navbar-nav li ul {
    background: #fff;
}

    .navbar-default .navbar-nav li ul li {
        border-bottom: 1px solid #eee;
        padding: 0px 0px;
    }

        .navbar-default .navbar-nav li ul li:last-child {
            border: none;
        }

.menu, .menu ul, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background: none;
}

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav li ul li a, .navbar-default .navbar-nav li a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > .open > a:focus {
        color: #fff;
    }

.navbar-default .navbar-nav li ul li a {
    border-right: none;
    padding: 12px 25px;
    color: #333;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav li a.active, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:active, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d11717;
    background: none;
}

.search-box {
    position: absolute;
    top: 13px;
    text-align: right;
    right: 13px;
    z-index: 99;
}

    .search-box > i {
        padding: 14px 20px;
        height: 45px;
        display: block;
        cursor: pointer;
        display: none;
        color: #fff;
    }

    .search-box form {
        margin-top: 0px;
        position: relative;
        width: 100%;
    }

    .search-box .search-txt, .search-box .search-txt:hover, .search-box .search-txt:focus, .search-box .search-txt:active {
        border: none;
        padding: 0px 40px 0px 15px;
        float: left;
        text-align: left;
        border: none;
        width: 210px;
        background: #333;
        color: #fff;
        height: 45px;
        transition-duration: 0.5s;
    }

    .search-box .search-btn {
        border: none;
        background: none;
        height: 45px;
        border-radius: 2px;
        position: absolute;
        top: 0px;
        color: #d11717;
        right: -1px;
        font-size: 14px;
        background: #333;
        padding: 11px 20px;
    }

    .search-box:hover .search-txt {
        width: 300px;
        padding: 0px 40px 0px 15px;
    }

.search-2 {
    margin-top: -51px;
    border: 15px solid #222;
    border-top: none;
    margin-bottom: 50px;
}

.search-1 {
    margin-bottom: -80px;
    position: relative;
}

.search-option {
    background: #d11717;
}

    .search-option {
        background: #fff;
        color: #333;
        border: none;
    }

.select-wrapper button:hover, .select-wrapper button:focus, .select-wrapper button:active, .select-wrapper button:visited, .open > .dropdown-toggle.btn-default {
    background: #fafafa;
    outline: none;
    color: #333;
}

.select-wrapper::after {
    color: #ccc;
}

.select-wrapper .dropdown-menu {
    margin-top: -1px;
}

    .select-wrapper .dropdown-menu li {
        background: #fafafa;
        color: #333;
        border-top: 1px solid #eee;
    }

        .select-wrapper .dropdown-menu li:hover {
            background: #f5f5f5;
        }

.search-option .ht-btn {
    background: #a01111;
    color: #fff;
}

.search-option > h3 {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 20px;
}

    .search-option > h3 i {
        margin-right: 7px;
        color: inherit;
    }

.search-option .form-item {
    border: none;
}

.search-option .ht-tabs li.active a, .search-option .ht-tabs li.active a:hover, .search-option .ht-tabs li.active a:focus {
    color: #fff;
    background: #b91515;
}

.ui-widget-header {
    background: #ad0601;
}

.ui-widget.ui-widget-content {
    border-radius: 2px;
    background: #fff;
    border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #860303;
    border-radius: 2px;
    border: none;
}

.ui-slider-horizontal {
    height: 10px;
}

.ui-slider-handle {
    outline: none;
}

.slider_amount {
    border: none;
    background: none;
    margin-bottom: 5px;
    width: 100%;
    color: #fff;
}

.heading {
    overflow: hidden;
    width: 101.7%;
    margin-bottom: 30px;
    margin-top: 30px;
    background: #0c0c0c;
}

    .heading h3 {
        margin-bottom: 0px;
        padding: 17px 20px 17px 0px;
        position: relative;
        height: 60px;
        display: inline-block;
        background: #fff;
        color: #d11717;
    }

        .heading h3::after {
            position: absolute;
            top: 0px;
            right: -66px;
            content: '';
            border-width: 33px;
            border-style: solid;
            border-top-color: rgba(0,0,0,0);
            border-right-color: rgba(0,0,0,0);
            border-left-color: #fff;
            border-bottom-color: #fff;
        }

        .heading h3 i {
            margin-right: 10px;
        }

.heading-1 {
    padding: 0px 0px 10px 0px;
    margin-bottom: 30px;
}

    .heading-1 h3, .heading-1 h4 {
        margin-bottom: -12px;
        font-size: 22px;
        padding-bottom: 13px;
        display: inline-block;
    }

    .heading-1 i {
        margin-right: 7px;
    }

a.ht-btn, button.ht-btn {
    border-radius: 1px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
    border: none;
    display: inline-block;
    margin-right: 1px;
    box-shadow: none;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

    a.ht-btn:active, button.ht-btn:active {
        box-shadow: none;
        outline: none;
    }

a.ht-btn-default, button.ht-btn-default {
    background: #d11717;
}

    a.ht-btn-default:hover, button.ht-btn-default:hover {
        background: #a90c0c;
    }

a.ht-btn-gray, button.ht-btn-gray {
    background: #444;
}

a.ht-btn-gray, button.ht-btn-gray {
    background: #d11717;
}

.ht-btn i {
    margin-right: 7px;
    color: inherit;
}

a.ht-btn-1x {
    padding: 10px 22px;
}

a.ht-btn-2x {
    padding: 14px 25px;
}

a.ht-btn-3x {
    padding: 16px 30px;
}
.form-group {
    margin-bottom: 20px;
}

.form-item {
    background: #fff;
    border-radius: 1px;
    box-shadow: none;
    border: 1px solid #000;
    padding-left: 15px;
    width: 100%;
    margin: 0px;
    font-size: 16px;
    padding-right: 15px;
    height: 45px;
    outline: none;
}

    .form-item:hover, .form-item:focus, .form-item:active {
        box-shadow: none;
        color: #555;
        background: #fff;
    }

body {
    padding-top: 20px;
}


.list-default{
	margin-top:15px;
}
.list-default li{
	padding:10px 0px;
	display:block;
	border-bottom-width:1px;
	border-bottom-style:dashed;
}
.list-default li i{
	color:inherit;
	width:20px;
}
.list-default li i.icon{
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	background:#444;
	border-radius:30px;
	padding:0px;
	display:inline-block;
}
.wishlist .ht-btn{
	margin-top:0px;
}

.bg-white{
	background:#fff;
}
.bg-gray-fa{
	background:#fafafa;
}
.bg-gray-f5{
	background:#f5f5f5;
}
.bg-gray-d{
	background:#ddd;
}
.bg-gray-e{
	background:#eee;
}
.bg-gray-c{
	background:#ccc;
}
.bg-gray-d{
	background:#aaa;
}
.bg-gray-9{
	background:#999;
}
.bg-gray-8{
	background:#888;
}
.bg-gray-7{
	background:#777;
}
.bg-gray-6{
	background:#666;
}
.bg-gray-5{
	background:#555;
}
.bg-gray-4{
	background:#444;
}
.bg-gray-3{
	background:#333;
}
.bg-gray-2{
	background:#222;
}
.bg-gray-15{
	background:#151515;
}
.bg-gray-18{
	background:#181818;
}
.bg-gray-1{
	background:#111;
}
.bg-gray-0c{
	background:#0c0c0c;
}
.bg-gray-0{
	background:#000;
}
.bg-red{
	background-color:#d11717;
}
.bg-green{
	background-color:#249400;
}
.bg-yellow{
	background-color:#ffe000;
}
.color-f{
	color:#fff;
}
.color-e{
	color:#eee;
}
.color-d{
	color:#ddd;
}
.color-c{
	color:#ccc;
}
.color-a{
	color:#aaa;
}
.color-9{
	color:#999;
}
.color-8{
	color:#888;
}
.color-7{
	color:#777;
}
.color-6{
	color:#666;
}
.color-5{
	color:#555;
}
.color-4{
	color:#444;
}
.color-3{
	color:#333;
}
.color-2{
	color:#222;
}
.color-15{
	color:#151515;
}
.color-1{
	color:#111;
}
.color-0c{
	color:#0c0c0c;
}
.color-0{
	color:#000;
}
.color-green{
	color:#249400;
}
.color-yellow{
	color:#ffe000;
}
.color-red{
	color:#d11717;
}
.border-color-2{
	border-color:#222;
}
.border-color-f5{
	border-color:#f5f5f5;
}


.m-auto{
	margin:auto!important;
}
.m-lg-0{
	margin:0px!important;
}
.m-lg-5{
	margin:5px!important;
}
.m-lg-10{
	margin:10px!important;
}
.m-lg-15{
	margin:15px!important;
}
.m-lg-20{
	margin:20px!important;
}
.m-lg-25{
	margin:25px!important;
}
.m-lg-30{
	margin:30px!important;
}
.m-lg-40{
	margin:40px!important;
}
.m-t-lg-0{
	margin-top:0px!important;
}
.m-t-lg-5{
	margin-top:5px!important;
}
.m-t-lg-10{
	margin-top:10px!important;
}
.m-t-lg-15{
	margin-top:15px!important;
}
.m-t-lg-20{
	margin-top:20px!important;
}
.m-t-lg-25{
	margin-top:25px!important;
}
.m-t-lg-30{
	margin-top:30px!important;
}
.m-t-lg-35{
	margin-top:35px!important;
}
.m-t-lg-40{
	margin-top:40px!important;
}
.m-t-lg-45{
	margin-top:45px!important;
}
.m-t-lg-50{
	margin-top:50px!important;
}
.m-t-lg-55{
	margin-top:55px!important;
}
.m-t-lg-60{
	margin-top:60px!important;
}
.m-t-lg-65{
	margin-top:65px!important;
}
.m-t-lg-70{
	margin-top:70px!important;
}
.m-t-lg-75{
	margin-top:75px!important;
}
.m-t-lg-80{
	margin-top:80px!important;
}
.m-t-lg-85{
	margin-top:85px!important;
}
.m-t-lg-90{
	margin-top:90px!important;
}
.m-t-lg-95{
	margin-top:95px!important;
}
.m-t-lg-100{
	margin-top:100px!important;
}
.m-l-lg-0{
	margin-left:0px!important;
}
.m-l-lg-5{
	margin-left:5px!important;
}
.m-l-lg-10{
	margin-left:10px!important;
}
.m-l-lg-15{
	margin-left:15px!important;
}
.m-l-lg-20{
	margin-left:20px!important;
}
.m-l-lg-25{
	margin-left:25px!important;
}
.m-l-lg-30{
	margin-left:30px!important;
}
.m-l-lg-35{
	margin-left:35px!important;
}
.m-l-lg-40{
	margin-left:40px!important;
}
.m-l-lg-45{
	margin-left:45px!important;
}
.m-l-lg-50{
	margin-left:50px!important;
}
.m-l-lg-55{
	margin-left:55px!important;
}
.m-l-lg-60{
	margin-left:60px!important;
}
.m-l-lg-65{
	margin-left:65px!important;
}
.m-l-lg-70{
	margin-left:70px!important;
}
.m-l-lg-75{
	margin-left:75px!important;
}
.m-l-lg-80{
	margin-left:80px!important;
}
.m-l-lg-85{
	margin-left:85px!important;
}
.m-l-lg-90{
	margin-left:90px!important;
}
.m-l-lg-95{
	margin-left:95px!important;
}
.m-l-lg-100{
	margin-left:100px!important;
}
.m-r-lg-0{
	margin-right:0px!important;
}
.m-r-lg-5{
	margin-right:5px!important;
}
.m-r-lg-10{
	margin-right:10px!important;
}
.m-r-lg-15{
	margin-right:15px!important;
}
.m-r-lg-20{
	margin-right:20px!important;
}
.m-r-lg-25{
	margin-right:25px!important;
}
.m-r-lg-30{
	margin-right:30px!important;
}
.m-r-lg-35{
	margin-right:35px!important;
}
.m-r-lg-40{
	margin-right:40px!important;
}
.m-r-lg-45{
	margin-right:45px!important;
}
.m-r-lg-50{
	margin-right:50px!important;
}
.m-r-lg-55{
	margin-right:55px!important;
}
.m-r-lg-60{
	margin-right:60px!important;
}
.m-r-lg-65{
	margin-right:65px!important;
}
.m-r-lg-70{
	margin-right:70px!important;
}
.m-r-lg-75{
	margin-right:75px!important;
}
.m-r-lg-80{
	margin-right:80px!important;
}
.m-r-lg-85{
	margin-right:85px!important;
}
.m-r-lg-90{
	margin-right:90px!important;
}
.m-r-lg-95{
	margin-right:95px!important;
}
.m-r-lg-100{
	margin-right:100px!important;
}
.m-b-lg-0{
	margin-bottom:0px!important;
}
.m-b-lg-5{
	margin-bottom:5px!important;
}
.m-b-lg-10{
	margin-bottom:10px!important;
}
.m-b-lg-15{
	margin-bottom:15px!important;
}
.m-b-lg-20{
	margin-bottom:20px!important;
}
.m-b-lg-25{
	margin-bottom:25px!important;
}
.m-b-lg-30{
	margin-bottom:30px!important;
}
.m-b-lg-35{
	margin-bottom:35px!important;
}
.m-b-lg-40{
	margin-bottom:40px!important;
}
.m-b-lg-45{
	margin-bottom:45px!important;
}
.m-b-lg-50{
	margin-bottom:50px!important;
}
.m-b-lg-55{
	margin-bottom:55px!important;
}
.m-b-lg-60{
	margin-bottom:60px!important;
}
.m-b-lg-65{
	margin-bottom:65px!important;
}
.m-b-lg-70{
	margin-bottom:70px!important;
}
.m-b-lg-75{
	margin-bottom:75px!important;
}
.m-b-lg-80{
	margin-bottom:80px!important;
}
.m-b-lg-85{
	margin-bottom:85px!important;
}
.m-b-lg-90{
	margin-bottom:90px!important;
}
.m-b-lg-95{
	margin-bottom:95px!important;
}
.m-b-lg-100{
	margin-bottom:100px!important;
}
.m-t-lg-ab-5{
	margin-top:-5px!important;
}
.m-t-lg-ab-10{
	margin-top:-10px!important;
}
.m-t-lg-ab-15{
	margin-top:-15px!important;
}
.m-t-lg-ab-20{
	margin-top:-20px!important;
}
.m-t-lg-ab-25{
	margin-top:-25px!important;
}
.m-t-lg-ab-30{
	margin-top:-30px!important;
}
.m-l-lg-ab-5{
	margin-left:-5px!important;
}
.m-l-lg-ab-10{
	margin-left:-10px!important;
}
.m-l-lg-ab-15{
	margin-left:-15px!important;
}
.m-l-lg-ab-20{
	margin-left:-20px!important;
}
.m-l-lg-ab-25{
	margin-left:-25px!important;
}
.m-l-lg-ab-30{
	margin-left:-30px!important;
}
.m-r-lg-ab-5{
	margin-right:-5px!important;
}
.m-r-lg-ab-10{
	margin-right:-10px!important;
}
.m-r-lg-ab-15{
	margin-right:-15px!important;
}
.m-r-lg-ab-20{
	margin-right:-20px!important;
}
.m-r-lg-ab-25{
	margin-right:-25px!important;
}
.m-r-lg-ab-30{
	margin-right:-30px!important;
}
.m-b-lg-ab-5{
	margin-bottom:-5px!important;
}
.m-b-lg-ab-10{
	margin-bottom:-10px!important;
}
.m-b-lg-ab-15{
	margin-bottom:-15px!important;
}
.m-b-lg-ab-20{
	margin-bottom:-20px!important;
}
.m-b-lg-ab-25{
	margin-bottom:-25px!important;
}
.m-b-lg-ab-30{
	margin-bottom:-30px!important;
}

.p-lg-0{
	padding:0px!important;
}
.p-lg-5{
	padding:5px!important;
}
.p-lg-10{
	padding:10px!important;
}
.p-lg-15{
	padding:15px!important;
}
.p-lg-20{
	padding:20px!important;
}
.p-lg-25{
	padding:25px!important;
}
.p-lg-30{
	padding:30px!important;
}
.p-lg-35{
	padding:35px!important;
}
.p-lg-40{
	padding:40px!important;
}
.p-lg-45{
	padding:45px!important;
}
.p-lg-50{
	padding:50px!important;
}
.p-lg-55{
	padding:55px!important;
}
.p-lg-60{
	padding:60px!important;
}
.p-lg-65{
	padding:65px!important;
}
.p-lg-70{
	padding:70px!important;
}
.p-lg-75{
	padding:75px!important;
}
.p-lg-80{
	padding:80px!important;
}
.p-t-lg-0{
	padding-top:0px!important;
}
.p-t-lg-5{
	padding-top:5px!important;
}
.p-t-lg-10{
	padding-top:10px!important;
}
.p-t-lg-15{
	padding-top:15px!important;
}
.p-t-lg-20{
	padding-top:20px!important;
}
.p-t-lg-25{
	padding-top:25px!important;
}
.p-t-lg-30{
	padding-top:30px!important;
}
.p-t-lg-35{
	padding-top:35px!important;
}
.p-t-lg-40{
	padding-top:40px!important;
}
.p-t-lg-45{
	padding-top:45px!important;
}
.p-t-lg-50{
	padding-top:50px!important;
}
.p-t-lg-55{
	padding-top:55px!important;
}
.p-t-lg-60{
	padding-top:60px!important;
}
.p-t-lg-65{
	padding-top:65px!important;
}
.p-t-lg-70{
	padding-top:70px!important;
}
.p-t-lg-75{
	padding-top:75px!important;
}
.p-t-lg-80{
	padding-top:80px!important;
}
.p-t-lg-85{
	padding-top:85px!important;
}
.p-t-lg-90{
	padding-top:90px!important;
}
.p-t-lg-95{
	padding-top:95px!important;
}
.p-t-lg-100{
	padding-top:100px!important;
}
.p-l-lg-0{
	padding-left:0px!important;
}
.p-l-lg-5{
	padding-left:5px!important;
}
.p-l-lg-10{
	padding-left:10px!important;
}
.p-l-lg-15{
	padding-left:15px!important;
}
.p-l-lg-20{
	padding-left:20px!important;
}
.p-l-lg-25{
	padding-left:25px!important;
}
.p-l-lg-30{
	padding-left:30px!important;
}
.p-l-lg-35{
	padding-left:35px!important;
}
.p-l-lg-40{
	padding-left:40px!important;
}
.p-l-lg-45{
	padding-left:45px!important;
}
.p-l-lg-50{
	padding-left:50px!important;
}
.p-l-lg-55{
	padding-left:55px!important;
}
.p-l-lg-60{
	padding-left:60px!important;
}
.p-l-lg-65{
	padding-left:65px!important;
}
.p-l-lg-70{
	padding-left:70px!important;
}
.p-l-lg-75{
	padding-left:75px!important;
}
.p-l-lg-80{
	padding-left:80px!important;
}
.p-l-lg-85{
	padding-left:85px!important;
}
.p-l-lg-90{
	padding-left:90px!important;
}
.p-l-lg-95{
	padding-left:95px!important;
}
.p-l-lg-100{
	padding-left:100px!important;
}
.p-r-lg-0{
	padding-right:0px!important;
}
.p-r-lg-5{
	padding-right:5px!important;
}
.p-r-lg-10{
	padding-right:10px!important;
}
.p-r-lg-15{
	padding-right:15px!important;
}
.p-r-lg-20{
	padding-right:20px!important;
}
.p-r-lg-25{
	padding-right:25px!important;
}
.p-r-lg-30{
	padding-right:30px!important;
}
.p-r-lg-35{
	padding-right:35px!important;
}
.p-r-lg-40{
	padding-right:40px!important;
}
.p-r-lg-45{
	padding-right:45px!important;
}
.p-r-lg-50{
	padding-right:50px!important;
}
.p-r-lg-55{
	padding-right:55px!important;
}
.p-r-lg-60{
	padding-right:60px!important;
}
.p-r-lg-65{
	padding-right:65px!important;
}
.p-r-lg-70{
	padding-right:70px!important;
}
.p-r-lg-75{
	padding-right:75px!important;
}
.p-r-lg-80{
	padding-right:80px!important;
}
.p-r-lg-85{
	padding-right:85px!important;
}
.p-r-lg-90{
	padding-right:90px!important;
}
.p-r-lg-95{
	padding-right:95px!important;
}
.p-r-lg-100{
	padding-right:100px!important;
}
.p-b-lg-0{
	padding-bottom:0px!important;
}
.p-b-lg-5{
	padding-bottom:5px!important;
}
.p-b-lg-10{
	padding-bottom:10px!important;
}
.p-b-lg-15{
	padding-bottom:15px!important;
}
.p-b-lg-20{
	padding-bottom:20px!important;
}
.p-b-lg-25{
	padding-bottom:25px!important;
}
.p-b-lg-30{
	padding-bottom:30px!important;
}
.p-b-lg-35{
	padding-bottom:35px!important;
}
.p-b-lg-40{
	padding-bottom:40px!important;
}
.p-b-lg-45{
	padding-bottom:45px!important;
}
.p-b-lg-50{
	padding-bottom:50px!important;
}
.p-b-lg-55{
	padding-bottom:55px!important;
}
.p-b-lg-60{
	padding-bottom:60px!important;
}
.p-b-lg-65{
	padding-bottom:65px!important;
}
.p-b-lg-70{
	padding-bottom:70px!important;
}
.p-b-lg-75{
	padding-bottom:75px!important;
}
.p-b-lg-80{
	padding-bottom:80px!important;
}
.p-b-lg-85{
	padding-bottom:85px!important;
}
.p-b-lg-90{
	padding-bottom:90px!important;
}
.p-b-lg-95{
	padding-bottom:95px!important;
}
.p-b-lg-100{
	padding-bottom:100px!important;
}

.h-auto{
	height:auto!important;
}
.h-100{
	height:100px!important;
}
.h-150{
	height:150px!important;
}
.h-200{
	height:200px!important;
}
.h-250{
	height:250px!important;
}
.h-300{
	height:300px!important;
}
.h-350{
	height:350px!important;
}
.h-400{
	height:400px!important;
}
.h-450{
	height:450px!important;
}
.h-500{
	height:500px!important;
}
.h-600{
	height:600px!important;
}
.h-700{
	height:700px!important;
}
.h-800{
	height:800px!important;
}

.f-11{
	font-size:11px!important;
}
.f-12{
	font-size:12px!important;
}
.f-13{
	font-size:13px!important;
}
.f-14{
	font-size:14px!important;
}
.f-15{
	font-size:15px!important;
}
.f-16{
	font-size:16px!important;
}
.f-17{
	font-size:17px!important;
}
.f-18{
	font-size:18px!important;
}
.f-19{
	font-size:19px!important;
}
.f-20{
	font-size:20px!important;
}
.f-21{
	font-size:21px!important;
}
.f-22{
	font-size:22px!important;
}
.f-23{
	font-size:23px!important;
}
.f-24{
	font-size:24px!important;
}
.f-25{
	font-size:25px!important;
}
.f-26{
	font-size:26px!important;
}
.f-27{
	font-size:27px!important;
}
.f-28{
	font-size:28px!important;
}
.f-29{
	font-size:29px!important;
}
.f-30{
	font-size:30px!important;
}
.f-31{
	font-size:31px!important;
}
.f-32{
	font-size:32px!important;
}
.f-33{
	font-size:33px!important;
}
.f-34{
	font-size:34px!important;
}
.f-35{
	font-size:35px!important;
}
.f-36{
	font-size:36px!important;
}
.f-37{
	font-size:37px!important;
}
.f-38{
	font-size:38px!important;
}
.f-39{
	font-size:39px!important;
}
.f-40{
	font-size:40px!important;
}
.f-41{
	font-size:41px!important;
}
.f-42{
	font-size:42px!important;
}
.f-43{
	font-size:43px!important;
}
.f-44{
	font-size:44px!important;
}
.f-45{
	font-size:45px!important;
}
.f-46{
	font-size:46px!important;
}
.f-47{
	font-size:47px!important;
}
.f-48{
	font-size:48px!important;
}
.f-49{
	font-size:49px!important;
}
.f-50{
	font-size:50px!important;
}
.f-60{
	font-size:60px!important;
}
.f-70{
	font-size:70px!important;
}
.f-80{
	font-size:80px!important;
}
.f-arial{
	font-family:arial!important;
}

.text-align-lg-center{
	text-align:center!important;
}	
.text-align-lg-left{
	text-align:left!important;
}
.text-align-lg-right{
	text-align:right!important;
}

.pull-left-lg{
	float:left!important;
}
.pull-right-lg{
	float:right!important;
}
.f-bold{
	font-weight:bold!important;
}
.f-normal{
	font-weight:normal!important;
}
.overl{
	overflow:hidden!important;
}
.height-auto{
	height:auto!important;
}
.width-100{
	width:100%!important;
}
.has-border{
	border-width:1px!important;
	border-style:solid!important;
}
.no-radius{
	border-radius:0px!important;
}
.no-border{
	border:none!important;
}
.no-bg{
	background:none!important;
}
.display-inline-block{
	display:inline-block!important;
}
.display-none{
	display:none!important;
}
.display-inline{
	display:inline!important;
}
.display-block{
	display:block!important;
}
.trans{
	-webkit-transition: all 1s ease!important;
    -moz-transition: all 1s ease!important;
    -ms-transition: all 1s ease!important;
    -o-transition: all 1s ease!important;
    transition: all 1s ease!important;
}
@media (max-width: 1200px){

.m-md-0{
	margin:0px!important;
}
.m-t-md-0{
	margin-top:0px!important;
}
.m-t-md-5{
	margin-top:5px!important;
}
.m-t-md-10{
	margin-top:10px!important;
}
.m-t-md-15{
	margin-top:15px!important;
}
.m-t-md-20{
	margin-top:20px!important;
}
.m-t-md-25{
	margin-top:25px!important;
}
.m-t-md-30{
	margin-top:30px!important;
}
.m-t-md-35{
	margin-top:35px!important;
}
.m-t-md-40{
	margin-top:40px!important;
}
.m-t-md-45{
	margin-top:45px!important;
}
.m-t-md-50{
	margin-top:50px!important;
}
.m-t-md-55{
	margin-top:55px!important;
}
.m-t-md-60{
	margin-top:60px!important;
}
.m-l-md-0{
	margin-left:0px!important;
}
.m-l-md-5{
	margin-left:5px!important;
}
.m-l-md-10{
	margin-left:10px!important;
}
.m-l-md-15{
	margin-left:15px!important;
}
.m-l-md-20{
	margin-left:20px!important;
}
.m-l-md-25{
	margin-left:25px!important;
}
.m-l-md-30{
	margin-left:30px!important;
}
.m-l-md-35{
	margin-left:35px!important;
}
.m-l-md-40{
	margin-left:40px!important;
}
.m-l-md-45{
	margin-left:45px!important;
}
.m-l-md-50{
	margin-left:50px!important;
}
.m-l-md-55{
	margin-left:55px!important;
}
.m-l-md-60{
	margin-left:60px!important;
}
.m-r-md-0{
	margin-right:0px!important;
}
.m-r-md-5{
	margin-right:5px!important;
}
.m-r-md-10{
	margin-right:10px!important;
}
.m-r-md-15{
	margin-right:15px!important;
}
.m-r-md-20{
	margin-right:20px!important;
}
.m-r-md-25{
	margin-right:25px!important;
}
.m-r-md-30{
	margin-right:30px!important;
}
.m-r-md-35{
	margin-right:35px!important;
}
.m-r-md-40{
	margin-right:40px!important;
}
.m-r-md-45{
	margin-right:45px!important;
}
.m-r-md-50{
	margin-right:50px!important;
}
.m-r-md-55{
	margin-right:55px!important;
}
.m-r-md-60{
	margin-right:60px!important;
}
.m-b-md-0{
	margin-bottom:0px!important;
}
.m-b-md-5{
	margin-bottom:5px!important;
}
.m-b-md-10{
	margin-bottom:10px!important;
}
.m-b-md-15{
	margin-bottom:15px!important;
}
.m-b-md-20{
	margin-bottom:20px!important;
}
.m-b-md-25{
	margin-bottom:25px!important;
}
.m-b-md-30{
	margin-bottom:30px!important;
}
.m-b-md-35{
	margin-bottom:35px!important;
}
.m-b-md-40{
	margin-bottom:40px!important;
}
.m-b-md-45{
	margin-bottom:45px!important;
}
.m-b-md-50{
	margin-bottom:50px!important;
}
.m-b-md-55{
	margin-bottom:55px!important;
}
.m-b-md-60{
	margin-bottom:60px!important;
}

.p-md-0{
	padding:0px!important;
}
.p-md-5{
	padding:5px!important;
}
.p-md-10{
	padding:10px!important;
}
.p-md-15{
	padding:15px!important;
}
.p-md-20{
	padding:20px!important;
}
.p-md-25{
	padding:25px!important;
}
.p-md-30{
	padding:30px!important;
}
.p-md-35{
	padding:35px!important;
}
.p-md-40{
	padding:40px!important;
}
.p-md-45{
	padding:45px!important;
}
.p-md-50{
	padding:50px!important;
}
.p-md-55{
	padding:55px!important;
}
.p-md-60{
	padding:60px!important;
}
.p-t-md-0{
	padding-top:0px!important;
}
.p-t-md-5{
	padding-top:5px!important;
}
.p-t-md-10{
	padding-top:10px!important;
}
.p-t-md-15{
	padding-top:15px!important;
}
.p-t-md-20{
	padding-top:20px!important;
}
.p-t-md-25{
	padding-top:25px!important;
}
.p-t-md-30{
	padding-top:30px!important;
}
.p-t-md-35{
	padding-top:35px!important;
}
.p-t-md-40{
	padding-top:40px!important;
}
.p-t-md-45{
	padding-top:45px!important;
}
.p-t-md-50{
	padding-top:50px!important;
}
.p-t-md-55{
	padding-top:55px!important;
}
.p-t-md-60{
	padding-top:60px!important;
}
.p-l-md-0{
	padding-left:0px!important;
}
.p-l-md-5{
	padding-left:5px!important;
}
.p-l-md-10{
	padding-left:10px!important;
}
.p-l-md-15{
	padding-left:15px!important;
}
.p-l-md-20{
	padding-left:20px!important;
}
.p-l-md-25{
	padding-left:25px!important;
}
.p-l-md-30{
	padding-left:30px!important;
}
.p-l-md-35{
	padding-left:35px!important;
}
.p-l-md-40{
	padding-left:40px!important;
}
.p-l-md-45{
	padding-left:45px!important;
}
.p-l-md-50{
	padding-left:50px!important;
}
.p-l-md-55{
	padding-left:55px!important;
}
.p-l-md-60{
	padding-left:60px!important;
}
.p-r-md-0{
	padding-right:0px!important;
}
.p-r-md-5{
	padding-right:5px!important;
}
.p-r-md-10{
	padding-right:10px!important;
}
.p-r-md-15{
	padding-right:15px!important;
}
.p-r-md-20{
	padding-right:20px!important;
}
.p-r-md-25{
	padding-right:25px!important;
}
.p-r-md-30{
	padding-right:30px!important;
}
.p-r-md-35{
	padding-right:35px!important;
}
.p-r-md-40{
	padding-right:40px!important;
}
.p-r-md-45{
	padding-right:45px!important;
}
.p-r-md-50{
	padding-right:50px!important;
}
.p-r-md-55{
	padding-right:55px!important;
}
.p-r-md-60{
	padding-right:60px!important;
}
.p-b-md-0{
	padding-bottom:0px!important;
}
.p-b-md-5{
	padding-bottom:5px!important;
}
.p-b-md-10{
	padding-bottom:10px!important;
}
.p-b-md-15{
	padding-bottom:15px!important;
}
.p-b-md-20{
	padding-bottom:20px!important;
}
.p-b-md-25{
	padding-bottom:25px!important;
}
.p-b-md-30{
	padding-bottom:30px!important;
}
.p-b-md-35{
	padding-bottom:35px!important;
}
.p-b-md-40{
	padding-bottom:40px!important;
}
.p-b-md-45{
	padding-bottom:45px!important;
}
.p-b-md-50{
	padding-bottom:50px!important;
}
.p-b-md-55{
	padding-bottom:55px!important;
}
.p-b-md-60{
	padding-bottom:60px!important;
}

.h-md-auto{
	height:auto!important;
}
.h-md-100{
	height:100px!important;
}
.h-md-150{
	height:150px!important;
}
.h-md-200{
	height:200px!important;
}
.h-md-250{
	height:250px!important;
}
.h-md-300{
	height:300px!important;
}
.h-md-350{
	height:350px!important;
}
.h-md-400{
	height:400px!important;
}
.h-md-450{
	height:450px!important;
}
.h-md-500{
	height:500px!important;
}

.f-md-11{
	font-size:11px!important;
}
.f-xs-12{
	font-size:12px!important;
}
.f-md-13{
	font-size:13px!important;
}
.f-md-14{
	font-size:14px!important;
}
.f-md-15{
	font-size:15px!important;
}
.f-md-16{
	font-size:16px!important;
}
.f-md-17{
	font-size:17px!important;
}
.f-md-18{
	font-size:18px!important;
}
.f-md-19{
	font-size:19px!important;
}
.f-md-20{
	font-size:20px!important;
}
.f-md-21{
	font-size:21px!important;
}
.f-md-22{
	font-size:22px!important;
}
.f-md-23{
	font-size:23px!important;
}
.f-md-24{
	font-size:24px!important;
}
.f-md-25{
	font-size:25px!important;
}
.f-md-26{
	font-size:26px!important;
}
.f-md-27{
	font-size:27px!important;
}
.f-md-28{
	font-size:28px!important;
}
.f-md-29{
	font-size:29px!important;
}
.f-md-30{
	font-size:30px!important;
}
.f-md-31{
	font-size:31px!important;
}
.f-md-32{
	font-size:32px!important;
}
.f-md-33{
	font-size:33px!important;
}
.f-md-34{
	font-size:34px!important;
}
.f-md-35{
	font-size:35px!important;
}
.f-md-36{
	font-size:36px!important;
}
.f-md-37{
	font-size:37px!important;
}
.f-md-38{
	font-size:38px!important;
}
.f-md-39{
	font-size:39px!important;
}
.f-md-40{
	font-size:40px!important;
}
.f-md-41{
	font-size:41px!important;
}
.f-md-42{
	font-size:42px!important;
}
.f-md-43{
	font-size:43px!important;
}
.f-md-44{
	font-size:44px!important;
}
.f-md-45{
	font-size:45px!important;
}
.f-md-46{
	font-size:46px!important;
}
.f-md-47{
	font-size:47px!important;
}
.f-md-48{
	font-size:48px!important;
}
.f-md-49{
	font-size:49px!important;
}
.f-md-50{
	font-size:50px!important;
}

.text-align-md-center{
	text-align:center!important;
}	
.text-align-md-left{
	text-align:left!important;
}
.text-align-md-right{
	text-align:right!important;
}

.pull-left-md{
	float:left!important;
}
.pull-right-md{
	float:right!important;
}
}
@media (min-width : 768px) and (max-width: 992px){

.m-s-0{
	margin:0px!important;
}
.m-t-sm-0{
	margin-top:0px!important;
}
.m-t-sm-5{
	margin-top:5px!important;
}
.m-t-sm-10{
	margin-top:10px!important;
}
.m-t-sm-15{
	margin-top:15px!important;
}
.m-t-sm-20{
	margin-top:20px!important;
}
.m-t-sm-25{
	margin-top:25px!important;
}
.m-t-sm-30{
	margin-top:30px!important;
}
.m-t-sm-35{
	margin-top:35px!important;
}
.m-t-sm-40{
	margin-top:40px!important;
}
.m-t-sm-45{
	margin-top:45px!important;
}
.m-t-sm-50{
	margin-top:50px!important;
}
.m-t-sm-55{
	margin-top:55px!important;
}
.m-t-sm-60{
	margin-top:60px!important;
}
.m-l-sm-0{
	margin-left:0px!important;
}
.m-l-sm-5{
	margin-left:5px!important;
}
.m-l-sm-10{
	margin-left:10px!important;
}
.m-l-sm-15{
	margin-left:15px!important;
}
.m-l-sm-20{
	margin-left:20px!important;
}
.m-l-sm-25{
	margin-left:25px!important;
}
.m-l-sm-30{
	margin-left:30px!important;
}
.m-l-sm-35{
	margin-left:35px!important;
}
.m-l-sm-40{
	margin-left:40px!important;
}
.m-l-sm-45{
	margin-left:45px!important;
}
.m-l-sm-50{
	margin-left:50px!important;
}
.m-l-sm-55{
	margin-left:55px!important;
}
.m-l-sm-60{
	margin-left:60px!important;
}
.m-r-sm-0{
	margin-right:0px!important;
}
.m-r-sm-5{
	margin-right:5px!important;
}
.m-r-sm-10{
	margin-right:10px!important;
}
.m-r-sm-15{
	margin-right:15px!important;
}
.m-r-sm-20{
	margin-right:20px!important;
}
.m-r-sm-25{
	margin-right:25px!important;
}
.m-r-sm-30{
	margin-right:30px!important;
}
.m-r-sm-35{
	margin-right:35px!important;
}
.m-r-sm-40{
	margin-right:40px!important;
}
.m-r-sm-45{
	margin-right:45px!important;
}
.m-r-sm-50{
	margin-right:50px!important;
}
.m-r-sm-55{
	margin-right:55px!important;
}
.m-r-sm-60{
	margin-right:60px!important;
}
.m-b-sm-0{
	margin-bottom:0px!important;
}
.m-b-sm-5{
	margin-bottom:5px!important;
}
.m-b-sm-10{
	margin-bottom:10px!important;
}
.m-b-sm-15{
	margin-bottom:15px!important;
}
.m-b-sm-20{
	margin-bottom:20px!important;
}
.m-b-sm-25{
	margin-bottom:25px!important;
}
.m-b-sm-30{
	margin-bottom:30px!important;
}
.m-b-sm-35{
	margin-bottom:35px!important;
}
.m-b-sm-40{
	margin-bottom:40px!important;
}
.m-b-sm-45{
	margin-bottom:45px!important;
}
.m-b-sm-50{
	margin-bottom:50px!important;
}
.m-b-sm-55{
	margin-bottom:55px!important;
}
.m-b-sm-60{
	margin-bottom:60px!important;
}

.p-sm-0{
	padding:0px!important;
}
.p-sm-5{
	padding:5px!important;
}
.p-sm-10{
	padding:10px!important;
}
.p-sm-15{
	padding:15px!important;
}
.p-sm-20{
	padding:20px!important;
}
.p-sm-25{
	padding:25px!important;
}
.p-sm-30{
	padding:30px!important;
}
.p-sm-35{
	padding:35px!important;
}
.p-sm-40{
	padding:40px!important;
}
.p-sm-45{
	padding:45px!important;
}
.p-sm-50{
	padding:50px!important;
}
.p-sm-55{
	padding:55px!important;
}
.p-sm-60{
	padding:60px!important;
}
.p-t-sm-0{
	padding-top:0px!important;
}
.p-t-sm-5{
	padding-top:5px!important;
}
.p-t-sm-10{
	padding-top:10px!important;
}
.p-t-sm-15{
	padding-top:15px!important;
}
.p-t-sm-20{
	padding-top:20px!important;
}
.p-t-sm-25{
	padding-top:25px!important;
}
.p-t-sm-30{
	padding-top:30px!important;
}
.p-t-sm-35{
	padding-top:35px!important;
}
.p-t-sm-40{
	padding-top:40px!important;
}
.p-t-sm-45{
	padding-top:45px!important;
}
.p-t-sm-50{
	padding-top:50px!important;
}
.p-t-sm-55{
	padding-top:55px!important;
}
.p-t-sm-60{
	padding-top:60px!important;
}
.p-l-sm-0{
	padding-left:0px!important;
}
.p-l-sm-5{
	padding-left:5px!important;
}
.p-l-sm-10{
	padding-left:10px!important;
}
.p-l-sm-15{
	padding-left:15px!important;
}
.p-l-sm-20{
	padding-left:20px!important;
}
.p-l-sm-25{
	padding-left:25px!important;
}
.p-l-sm-30{
	padding-left:30px!important;
}
.p-l-sm-35{
	padding-left:35px!important;
}
.p-l-sm-40{
	padding-left:40px!important;
}
.p-l-sm-45{
	padding-left:45px!important;
}
.p-l-sm-50{
	padding-left:50px!important;
}
.p-l-sm-55{
	padding-left:55px!important;
}
.p-l-sm-60{
	padding-left:60px!important;
}
.p-r-sm-0{
	padding-right:0px!important;
}
.p-r-sm-5{
	padding-right:5px!important;
}
.p-r-sm-10{
	padding-right:10px!important;
}
.p-r-sm-15{
	padding-right:15px!important;
}
.p-r-sm-20{
	padding-right:20px!important;
}
.p-r-sm-25{
	padding-right:25px!important;
}
.p-r-sm-30{
	padding-right:30px!important;
}
.p-r-sm-35{
	padding-right:35px!important;
}
.p-r-sm-40{
	padding-right:40px!important;
}
.p-r-sm-45{
	padding-right:45px!important;
}
.p-r-sm-50{
	padding-right:50px!important;
}
.p-r-sm-55{
	padding-right:55px!important;
}
.p-r-sm-60{
	padding-right:60px!important;
}
.p-b-sm-0{
	padding-bottom:0px!important;
}
.p-b-sm-5{
	padding-bottom:5px!important;
}
.p-b-sm-10{
	padding-bottom:10px!important;
}
.p-b-sm-15{
	padding-bottom:15px!important;
}
.p-b-sm-20{
	padding-bottom:20px!important;
}
.p-b-sm-25{
	padding-bottom:25px!important;
}
.p-b-sm-30{
	padding-bottom:30px!important;
}
.p-b-sm-35{
	padding-bottom:35px!important;
}
.p-b-sm-40{
	padding-bottom:40px!important;
}
.p-b-sm-45{
	padding-bottom:45px!important;
}
.p-b-sm-50{
	padding-bottom:50px!important;
}
.p-b-sm-55{
	padding-bottom:55px!important;
}
.p-b-sm-60{
	padding-bottom:60px!important;
}

.h-sm-auto{
	height:auto!important;
}
.h-sm-100{
	height:100px!important;
}
.h-sm-150{
	height:150px!important;
}
.h-sm-200{
	height:200px!important;
}
.h-sm-250{
	height:250px!important;
}
.h-sm-300{
	height:300px!important;
}
.h-sm-350{
	height:350px!important;
}
.h-sm-400{
	height:400px!important;
}
.h-sm-450{
	height:450px!important;
}
.h-sm-500{
	height:500px!important;
}

.f-sm-11{
	font-size:11px!important;
}
.f-xs-12{
	font-size:12px!important;
}
.f-sm-13{
	font-size:13px!important;
}
.f-sm-14{
	font-size:14px!important;
}
.f-sm-15{
	font-size:15px!important;
}
.f-sm-16{
	font-size:16px!important;
}
.f-sm-17{
	font-size:17px!important;
}
.f-sm-18{
	font-size:18px!important;
}
.f-sm-19{
	font-size:19px!important;
}
.f-sm-20{
	font-size:20px!important;
}
.f-sm-21{
	font-size:21px!important;
}
.f-sm-22{
	font-size:22px!important;
}
.f-sm-23{
	font-size:23px!important;
}
.f-sm-24{
	font-size:24px!important;
}
.f-sm-25{
	font-size:25px!important;
}
.f-sm-26{
	font-size:26px!important;
}
.f-sm-27{
	font-size:27px!important;
}
.f-sm-28{
	font-size:28px!important;
}
.f-sm-29{
	font-size:29px!important;
}
.f-sm-30{
	font-size:30px!important;
}
.f-sm-31{
	font-size:31px!important;
}
.f-sm-32{
	font-size:32px!important;
}
.f-sm-33{
	font-size:33px!important;
}
.f-sm-34{
	font-size:34px!important;
}
.f-sm-35{
	font-size:35px!important;
}
.f-sm-36{
	font-size:36px!important;
}
.f-sm-37{
	font-size:37px!important;
}
.f-sm-38{
	font-size:38px!important;
}
.f-sm-39{
	font-size:39px!important;
}
.f-sm-40{
	font-size:40px!important;
}
.f-sm-41{
	font-size:41px!important;
}
.f-sm-42{
	font-size:42px!important;
}
.f-sm-43{
	font-size:43px!important;
}
.f-sm-44{
	font-size:44px!important;
}
.f-sm-45{
	font-size:45px!important;
}
.f-sm-46{
	font-size:46px!important;
}
.f-sm-47{
	font-size:47px!important;
}
.f-sm-48{
	font-size:48px!important;
}
.f-sm-49{
	font-size:49px!important;
}
.f-sm-50{
	font-size:50px!important;
}

.text-align-sm-center{
	text-align:center!important;
}	
.text-align-sm-left{
	text-align:left!important;
}
.text-align-sm-right{
	text-align:right!important;
}

.pull-left-sm{
	float:left!important;
}
.pull-right-sm{
	float:right!important;
}
}
@media (max-width: 768px){

.m-xs-0{
	margin:0px!important;
}
.m-t-xs-0{
	margin-top:0px!important;
}
.m-t-xs-5{
	margin-top:5px!important;
}
.m-t-xs-10{
	margin-top:10px!important;
}
.m-t-xs-15{
	margin-top:15px!important;
}
.m-t-xs-20{
	margin-top:20px!important;
}
.m-t-xs-25{
	margin-top:25px!important;
}
.m-t-xs-30{
	margin-top:30px!important;
}
.m-t-xs-35{
	margin-top:35px!important;
}
.m-t-xs-40{
	margin-top:40px!important;
}
.m-t-xs-45{
	margin-top:45px!important;
}
.m-t-xs-50{
	margin-top:50px!important;
}
.m-t-xs-55{
	margin-top:55px!important;
}
.m-t-xs-60{
	margin-top:60px!important;
}
.m-l-xs-0{
	margin-left:0px!important;
}
.m-l-xs-5{
	margin-left:5px!important;
}
.m-l-xs-10{
	margin-left:10px!important;
}
.m-l-xs-15{
	margin-left:15px!important;
}
.m-l-xs-20{
	margin-left:20px!important;
}
.m-l-xs-25{
	margin-left:25px!important;
}
.m-l-xs-30{
	margin-left:30px!important;
}
.m-l-xs-35{
	margin-left:35px!important;
}
.m-l-xs-40{
	margin-left:40px!important;
}
.m-l-xs-45{
	margin-left:45px!important;
}
.m-l-xs-50{
	margin-left:50px!important;
}
.m-l-xs-55{
	margin-left:55px!important;
}
.m-l-xs-60{
	margin-left:60px!important;
}
.m-r-xs-0{
	margin-right:0px!important;
}
.m-r-xs-5{
	margin-right:5px!important;
}
.m-r-xs-10{
	margin-right:10px!important;
}
.m-r-xs-15{
	margin-right:15px!important;
}
.m-r-xs-20{
	margin-right:20px!important;
}
.m-r-xs-25{
	margin-right:25px!important;
}
.m-r-xs-30{
	margin-right:30px!important;
}
.m-r-xs-35{
	margin-right:35px!important;
}
.m-r-xs-40{
	margin-right:40px!important;
}
.m-r-xs-45{
	margin-right:45px!important;
}
.m-r-xs-50{
	margin-right:50px!important;
}
.m-r-xs-55{
	margin-right:55px!important;
}
.m-r-xs-60{
	margin-right:60px!important;
}
.m-b-xs-0{
	margin-bottom:0px!important;
}
.m-b-xs-5{
	margin-bottom:5px!important;
}
.m-b-xs-10{
	margin-bottom:10px!important;
}
.m-b-xs-15{
	margin-bottom:15px!important;
}
.m-b-xs-20{
	margin-bottom:20px!important;
}
.m-b-xs-25{
	margin-bottom:25px!important;
}
.m-b-xs-30{
	margin-bottom:30px!important;
}
.m-b-xs-35{
	margin-bottom:35px!important;
}
.m-b-xs-40{
	margin-bottom:40px!important;
}
.m-b-xs-45{
	margin-bottom:45px!important;
}
.m-b-xs-50{
	margin-bottom:50px!important;
}
.m-b-xs-55{
	margin-bottom:55px!important;
}
.m-b-xs-60{
	margin-bottom:60px!important;
}

.p-xs-0{
	padding:0px!important;
}
.p-xs-5{
	padding:5px!important;
}
.p-xs-10{
	padding:10px!important;
}
.p-xs-15{
	padding:15px!important;
}
.p-xs-20{
	padding:20px!important;
}
.p-xs-25{
	padding:25px!important;
}
.p-xs-30{
	padding:30px!important;
}
.p-xs-35{
	padding:35px!important;
}
.p-xs-40{
	padding:40px!important;
}
.p-xs-45{
	padding:45px!important;
}
.p-xs-50{
	padding:50px!important;
}
.p-xs-55{
	padding:55px!important;
}
.p-xs-60{
	padding:60px!important;
}
.p-t-xs-0{
	padding-top:0px!important;
}
.p-t-xs-5{
	padding-top:5px!important;
}
.p-t-xs-10{
	padding-top:10px!important;
}
.p-t-xs-15{
	padding-top:15px!important;
}
.p-t-xs-20{
	padding-top:20px!important;
}
.p-t-xs-25{
	padding-top:25px!important;
}
.p-t-xs-30{
	padding-top:30px!important;
}
.p-t-xs-35{
	padding-top:35px!important;
}
.p-t-xs-40{
	padding-top:40px!important;
}
.p-t-xs-45{
	padding-top:45px!important;
}
.p-t-xs-50{
	padding-top:50px!important;
}
.p-t-xs-55{
	padding-top:55px!important;
}
.p-t-xs-60{
	padding-top:60px!important;
}
.p-l-xs-0{
	padding-left:0px!important;
}
.p-l-xs-5{
	padding-left:5px!important;
}
.p-l-xs-10{
	padding-left:10px!important;
}
.p-l-xs-15{
	padding-left:15px!important;
}
.p-l-xs-20{
	padding-left:20px!important;
}
.p-l-xs-25{
	padding-left:25px!important;
}
.p-l-xs-30{
	padding-left:30px!important;
}
.p-l-xs-35{
	padding-left:35px!important;
}
.p-l-xs-40{
	padding-left:40px!important;
}
.p-l-xs-45{
	padding-left:45px!important;
}
.p-l-xs-50{
	padding-left:50px!important;
}
.p-l-xs-55{
	padding-left:55px!important;
}
.p-l-xs-60{
	padding-left:60px!important;
}
.p-r-xs-0{
	padding-right:0px!important;
}
.p-r-xs-5{
	padding-right:5px!important;
}
.p-r-xs-10{
	padding-right:10px!important;
}
.p-r-xs-15{
	padding-right:15px!important;
}
.p-r-xs-20{
	padding-right:20px!important;
}
.p-r-xs-25{
	padding-right:25px!important;
}
.p-r-xs-30{
	padding-right:30px!important;
}
.p-r-xs-35{
	padding-right:35px!important;
}
.p-r-xs-40{
	padding-right:40px!important;
}
.p-r-xs-45{
	padding-right:45px!important;
}
.p-r-xs-50{
	padding-right:50px!important;
}
.p-r-xs-55{
	padding-right:55px!important;
}
.p-r-xs-60{
	padding-right:60px!important;
}
.p-b-xs-0{
	padding-bottom:0px!important;
}
.p-b-xs-5{
	padding-bottom:5px!important;
}
.p-b-xs-10{
	padding-bottom:10px!important;
}
.p-b-xs-15{
	padding-bottom:15px!important;
}
.p-b-xs-20{
	padding-bottom:20px!important;
}
.p-b-xs-25{
	padding-bottom:25px!important;
}
.p-b-xs-30{
	padding-bottom:30px!important;
}
.p-b-xs-35{
	padding-bottom:35px!important;
}
.p-b-xs-40{
	padding-bottom:40px!important;
}
.p-b-xs-45{
	padding-bottom:45px!important;
}
.p-b-xs-50{
	padding-bottom:50px!important;
}
.p-b-xs-55{
	padding-bottom:55px!important;
}
.p-b-xs-60{
	padding-bottom:60px!important;
}

.h-xs-auto{
	height:auto!important;
}
.h-xs-100{
	height:100px!important;
}
.h-xs-150{
	height:150px!important;
}
.h-xs-200{
	height:200px!important;
}
.h-xs-250{
	height:250px!important;
}
.h-xs-300{
	height:300px!important;
}

.f-xs-11{
	font-size:11px!important;
}
.f-xs-12{
	font-size:12px!important;
}
.f-xs-13{
	font-size:13px!important;
}
.f-xs-14{
	font-size:14px!important;
}
.f-xs-15{
	font-size:15px!important;
}
.f-xs-16{
	font-size:16px!important;
}
.f-xs-17{
	font-size:17px!important;
}
.f-xs-18{
	font-size:18px!important;
}
.f-xs-19{
	font-size:19px!important;
}
.f-xs-20{
	font-size:20px!important;
}
.f-xs-21{
	font-size:21px!important;
}
.f-xs-22{
	font-size:22px!important;
}
.f-xs-23{
	font-size:23px!important;
}
.f-xs-24{
	font-size:24px!important;
}
.f-xs-25{
	font-size:25px!important;
}
.f-xs-26{
	font-size:26px!important;
}
.f-xs-27{
	font-size:27px!important;
}
.f-xs-28{
	font-size:28px!important;
}
.f-xs-29{
	font-size:29px!important;
}
.f-xs-30{
	font-size:30px!important;
}
.f-xs-31{
	font-size:31px!important;
}
.f-xs-32{
	font-size:32px!important;
}
.f-xs-33{
	font-size:33px!important;
}
.f-xs-34{
	font-size:34px!important;
}
.f-xs-35{
	font-size:35px!important;
}
.f-xs-36{
	font-size:36px!important;
}
.f-xs-37{
	font-size:37px!important;
}
.f-xs-38{
	font-size:38px!important;
}
.f-xs-39{
	font-size:39px!important;
}
.f-xs-40{
	font-size:40px!important;
}

.text-align-xs-center{
	text-align:center!important;
}	
.text-align-xs-left{
	text-align:left!important;
}
.text-align-xs-right{
	text-align:right!important;
}

.pull-left-xs{
	float:left!important;
}
.pull-right-xs{
	float:right!important;
}
.h-xs-auto{
	height:auto!important;
}
.m-xs-auto{
	margin:auto!important;
}
}

/*
Project Name: CarShop
File: Light-version.css - Light color
Version: 1.0
Date: 04/12/2016
Author Name: Nguyen Duy Khiem
Author URI: https://themeforest.net/user/t3theme
Email:ndktheme@gmail.com

------------------------
NOTE:
PLEASE DO NOT EDIT THIS CSS, IF YOU NEED USE "CUSTOM.CSS" FILE FOR WRITING YOUR CUSTOM CSS.
I WILL RELEASE FUTURE UPDATES SO IT WILL OVERWRITE THIS FILE IT'S BETTER USE "CUSTOM.CSS".
------------------------

Table of Contents
	01.Menu
	02.Top Header
	03.Heading
	04.Button
	05.from
	06.Hover Image
	07.Owl slider
	08.Service
	09.Blog
	10.Blog date
	11.Share-post
	12.List-comment
	13.Category
	14.Product
	15. Mfp-popup
	16.Panel
	17.List-default
	18.Block-fv
	19.Logo brand
	20.Newsletter
	21.Ht-tabs
	22.Ht-pagination
	23.Ht-breadcrumbs
	24.Rating
	25.Error_404
	26.Preloader
	27.Footer
	28.Color
-------------------*/
* {
	color: #333;
}

a, a:hover {
	text-decoration: none;
	color: #333;
}

hr {
	border-color: #eee;
}

p {
	color: #555;
}

#wrap-body, .wrap-body-inner {
	background: #fff;
}

.color-inher {
	color: #fff;
}

.navbar-default .navbar-nav li ul {
	background: #fafafa;
}

	.navbar-default .navbar-nav li ul li {
		border-bottom: 1px solid #e5e5e5;
	}

		.navbar-default .navbar-nav li ul li a {
			color: #555;
		}

.top-header ul li a {
	color: #fff;
}

.top-header ul li.cart-icon ul.cart-dropdown li .product-item {
	border-bottom: 1px solid #eee;
}

	.top-header ul li.cart-icon ul.cart-dropdown li .product-item p, .top-header ul li.cart-icon ul.cart-dropdown li .remove-cart-item {
		color: #999;
	}

	.top-header ul li.cart-icon ul.cart-dropdown li .product-item h4 a, .top-header ul li.cart-icon ul.cart-dropdown li .ht-btn, .top-header ul li.cart-icon ul.cart-dropdown li div {
		color: #333;
	}

	.top-header ul li.cart-icon ul.cart-dropdown li .product-item p strong, .top-header ul li .cart-dropdown li .price {
		color: #d11717;
	}

	.top-header ul li.cart-icon ul.cart-dropdown li .product-item .product-img, .top-header ul li.cart-icon ul.cart-dropdown li .remove-cart-item {
		background: #eee;
	}

.top-header ul li.cart-icon ul.cart-dropdown li .ht-btn {
	background: #eee;
}

	.top-header ul li.cart-icon ul.cart-dropdown li .ht-btn:hover {
		background: #d11717;
		color: #fff;
	}

.heading {
	background: #f5f5f5;
}

	.heading h3 {
		background: #fff;
	}

		.heading h3::after {
			border-left-color: #fff;
			border-bottom-color: #fff;
		}

.heading-1 {
	border-bottom: 2px solid #eee;
}

	.heading-1 h3, .heading-1 h4 {
		border-bottom: 2px solid #ccc;
	}

	.heading-1 i {
		color: #999;
	}

.ht-btn-default:hover {
	background: #bd1616;
	color: #fff;
}

.form-item:hover, .form-item:focus, .form-item:active {
	box-shadow: none;
	color: #555;
	background: #fff;
	border: 1px solid #eee;
}

.checkbox {
	color: #555;
}

	.checkbox input[type=checkbox] + label {
		color: #ddd;
		background-color: #ddd;
	}

	.checkbox input[type="checkbox"]:checked + label {
		color: #888;
	}

.list-feature li i {
	background: #ddd;
	color: #888;
}

.search-2, .banner-bg-8 {
	border: 15px solid #f5f5f5;
}

.search-2 {
	border-top: 0px;
}

.banner-bg-8 {
	border-bottom: 0px;
}

.absolute-caption {
	left: 12px;
	top: -60px;
}

.hover-img:hover .absolute-caption {
	left: 12px;
	top: 12px;
}

.absolute-caption li {
	background: #fafafa;
	border-bottom: 1px solid #ddd;
}

	.absolute-caption li span, .absolute-caption li i {
		color: #555;
	}

	.absolute-caption li i {
		background: #eee;
	}

.static-caption li {
	float: left;
	padding: 7px 12px;
	margin-right: 1px;
	background: #e5e5e5;
	color: #444;
}

	.static-caption li i {
		margin-right: 5px;
		color: #888;
	}

.slide {
	border: 15px solid #f5f5f5;
}

.list-feature li {
	color: #555;
}

.select-wrapper::after {
	color: #ccc;
}

.select-wrapper select {
	border: 1px solid #eee;
}

.owl-theme .owl-controls .owl-buttons .owl-prev, .owl-theme .owl-controls .owl-buttons .owl-next {
	color: #999;
	background: #eee;
}

.owl-theme .owl-controls .owl-buttons div:hover {
	background: #d11717;
	color: #fff;
}

.list-service {
	background: #f5f5f5;
}

	.list-service ul li {
		background: #fafafa;
	}

		.list-service ul li a {
			background: #eee;
			color: #333;
		}

			.list-service ul li a::after {
				border-top-color: #fafafa;
				border-right-color: #fafafa;
			}

.blog-item {
	background: #f5f5f5;
}

	.blog-item .blog-caption .blog-heading {
		color: #333;
	}

		.blog-item .blog-caption .blog-heading a:hover {
			color: #d11717;
		}

	.blog-item p {
		color: #555;
	}

.blog-date li a {
	border-right-color: #ccc;
	color: #555;
}

	.blog-date li a i {
		color: inherit;
	}

.share-post {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

	.share-post ul li a {
		color: #999;
	}

		.share-post ul li a:hover {
			color: #d11717;
		}

.list-comment .comment-item .comment-img {
	border: 5px solid #eee;
}

.list-comment .comment-item .comment-txt p, .list-comment .comment-item .comment-txt .reply, .list-comment .more-comment, .list-comment .comment-item span {
	color: #999;
}

.list-comment .more-comment, .list-comment .comment-item .comment-txt {
	background: #fff;
	border-color: #f5f5f5;
}

	.list-comment .comment-item .comment-txt .comment-item .comment-txt {
		background: #f5f5f5;
	}

	.list-comment .comment-item .comment-txt::after, .list-comment .comment-item .comment-txt::before {
		border-bottom-color: #fff;
	}

	.list-comment .comment-item .comment-txt .comment-item .comment-txt::after {
		border-bottom-color: #f5f5f5;
	}

.list-comment .comment-item .comment-heading h5 {
	text-transform: capitalize;
	color: #555;
	padding-bottom: 5px;
	font-size: 15px;
}

.category .heading, .heading-2 {
	background: #fff;
}

	.category .heading h3::after, .heading-2 h3::after {
		border-left-color: #f5f5f5;
		border-bottom-color: #f5f5f5;
	}

	.category .heading h3, .product > .heading-2 h3, .category ul li a {
		background: #f5f5f5;
		color: #333;
		border-left-color: #eee;
	}

		.category ul li.active a, .category ul li a:hover, .category ul li.active a i, .category ul li a:hover i {
			background: #d11717;
			color: #fff;
		}

		.category ul li a i {
			color: #ccc;
		}

.product-item {
	background: #fafafa;
	border: 10px solid #f5f5f5;
}

	.product-item .product-caption .product-name a:hover {
		color: #d11717;
	}

.product-list .product-item {
	padding: 15px;
	background: #f5f5f5;
}

.product-item .product-caption .product-name {
	color: #333;
}

.product-item .product-caption .product-price {
	color: #d11717;
}

.product-item .product-caption .product-txt {
	color: #999;
}

.product-grid-2 .product-item {
	padding: 12px;
	background: #f5f5f5;
	border: none;
}

	.product-grid-2 .product-item .product-caption .product-name {
		background: #fff;
		color: #777;
	}

		.product-grid-2 .product-item .product-caption .product-name span::after {
			border-top-color: #fff;
			border-left-color: #fff;
			border-right-color: rgba(0,0,0,0);
			border-bottom-color: rgba(0,0,0,0);
		}

		.product-grid-2 .product-item .product-caption .product-name a b {
			color: #eaa335;
		}

.product-grid-2 .product-caption .product-name span {
	background: #d11717;
	color: #fff;
}

.product-filter {
	background: #f5f5f5;
}

	.product-filter a {
		color: #333;
	}

		.product-filter a.active i, .filter a i:hover {
			background: #ddd;
			color: #666;
		}

.cart-img-prev {
	background: #f5f5f5;
	border: 1px solid #eee;
}

.bor-r {
	border-right: 1px solid #eee;
}

.product-filter select {
	border-color: #eee;
	background: #fff;
}

.product_detail {
}

.product_para .review-link {
	color: #999;
}

	.product_para .review-link i {
		color: inherit;
	}

.product_para-1 li {
	background: #fff;
	border-bottom: 1px solid #f5f5f5;
}

	.product_para-1 li span {
		color: #777;
	}

.cart-item, .cart-total {
	background: #fafafa;
	border: 1px solid #eee;
}

	.cart-item .form-item {
		border-color: #f5f5f5;
	}

	.cart-item .product-name span {
		color: #d11717;
	}

img.mfp-img {
	background: #f5f5f5;
}

.panel-group {
}

	.panel-group p {
		color: #777;
	}

.panel-body, .panel-default > .heading-1 {
	border-bottom: 2px solid #eee;
	margin-bottom: 0px;
}

	.panel-default > .heading-1 h4 {
		border-bottom: 2px solid #ccc;
		color: #333;
		font-size: 18px;
	}

.list-default li {
	color: #333;
	border-bottom-color: #ccc;
}

	.list-default li a {
		color: inherit;
	}

	.list-default li i.icon {
		background: #eee;
		color: #555;
	}

.newsletter .form-item {
	border: none;
}

.ht-tabs li a, .ht-tabs li a:hover, .ht-tabs li a:focus, .ht-tabs li a:active {
	background: #f5f5f5;
	color: #555;
}

.bord-10 {
	border: 10px solid #f5f5f5;
}

ul.ht-pagination li a {
	background: #eee;
	color: #333;
}

	ul.ht-pagination li.active a, ul.ht-pagination li.active a:hover, ul.ht-pagination li a:hover, ul.ht-pagination li a:focus, ul.ht-pagination li a:active, ul.ht-pagination li a:hover span i {
		background: #d11717;
		color: #fff;
	}

.ht-breadcrumb li {
	background: #eee;
	color: #333;
}

	.ht-breadcrumb li::after {
		border-left-color: #eee;
	}

	.ht-breadcrumb li::before {
		border-left-color: #fff;
	}

	.ht-breadcrumb li:last-child, .ht-breadcrumb li:hover {
		background: #f5f5f5;
	}

		.ht-breadcrumb li:last-child::after, .ht-breadcrumb li:hover::after {
			border-left-color: #f5f5f5;
		}

	.ht-breadcrumb li a {
		color: #333;
	}

ul.rating > li i {
	color: #ccc;
}

	ul.rating > li.active i, ul.rating > li i:hover {
		color: #ffcc00;
	}
.error404 {
	background: #fff;
}

.error_404 a {
	color: #d11717;
}
.preloader {
	background: #fff;
}
.imgc {
	border-top: 20px solid #fff;
	border-right: 20px solid #fff;
}

@media (max-width : 767px) {
	.search-1 {
		background: #fff;
	}
}


.product_detail {
	padding: 30px;
}

	.product_detail .owl-theme .owl-controls .owl-buttons .owl-prev, .product_detail .owl-theme .owl-controls .owl-buttons .owl-next {
		top: 40%;
		background: none;
		font-size: 40px;
	}

	.product_detail .owl-theme .owl-controls .owl-buttons div:hover {
		background: none;
	}

	.product_detail .owl-theme .owl-controls .owl-buttons .owl-next {
		right: 0px;
	}

	.product_detail .owl-theme .owl-controls .owl-buttons .owl-prev {
		left: 0px;
		right: auto;
	}

	.product_detail .product-name {
		font-weight: bold;
		font-size: 25px;
		margin-top: 0px;
		padding-top: 0px;
	}

.product_para .price-old {
	text-decoration: line-through;
}

.product_para p b {
	margin-right: 5px;
	display: block;
	width: 100px;
	float: left;
	font-weight: normal;
}

.input-qtl {
	width: 50px;
	text-align: center;
	margin-right: 10px;
	height: 45px;
}

.product_para .ht-btn {
	margin-top: 0px;
}

.product_para .ht-btn {
	margin-left: 4px;
	margin-right: 2px;
	padding-left: 16px;
	padding-right: 16px;
}

	.product_para .ht-btn i {
		margin-right: 0px;
	}

.product_para-1 li {
	padding: 11px 20px;
}

	.product_para-1 li span {
		width: 45%;
		display: block;
		float: left;
	}

.remove-img {
	position: absolute;
	bottom: 5px;
	right: 15px;
	cursor: pointer;
	color: #fff;
	background: #d11717;
	padding: 8px 12px;
	z-index: 9;
	height: 32px;
}

.placeholder-img {
	width: 100%;
}

.choose-file-upload {
	color: #555;
	padding-left: 10px;
	font-weight: normal;
	height: 32px;
	padding: 6px 10px;
	background: #fff;
	cursor: pointer;
	width: 100%;
	display: block;
}

	.choose-file-upload i {
		color: #999;
	}

	.choose-file-upload:hover {
		color: #999;
	}

.list-feature li {
	display: inline-block;
	padding: 7px 0px;
	width: 32%;
	color: #999;
}

	.list-feature li i {
		margin-right: 10px;
		font-size: 14px;
		background: #222;
		padding: 3px;
		border-radius: 2px;
		color: #666;
	}

.cart-item {
	border-left: 0px;
	height: 100px;
	margin-right: 1px;
	margin-bottom: 1px;
	text-align: center;
	overflow: hidden;
}

.row > .cart-item:last-child {
	margin-right: -5px;
}

.cart-item p, .cart-item i.cart-remove-btn {
	line-height: 100px;
}

.cart-item i.ch-remove-btn, .cart-item i.cart-remove-btn {
	cursor: pointer;
}

.cart-item input {
	margin-top: 29px;
}

.cart-item .product-name {
	text-align: left;
	padding-left: 0px;
}

	.cart-item .product-name h5 {
		padding-bottom: 10px;
		font-size: 15px;
	}

.cart-img-prev {
	padding: 5px;
	margin: 15px 0px;
	width: 100%;
	display: inline-block;
}

	.cart-img-prev img {
		max-height: 60px;
	}

.cart-total {
	padding: 20px 30px;
	width: 100%;
	text-align: right;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 0px;
}

	.cart-total strong {
		font-size: inherit;
	}
